<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/menustation.css">
    <title>general Login</title>
</head>
<body >
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 5px;padding-right: 5px;">
        <button  id="drop" class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <p class="navbar-brand m-auto">L9itLouage</p>
        <img src="image.png" alt="a building" width="50" class="m-1" onclick="redirect('/generalLogin')">
      
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown" >
          <ul class="navbar-nav ">
            <li class="nav-item dropdown">
              <a class="nav-link text-center" href="#"onclick="redirect('/adminStation')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="#">Destinations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="#">Louages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="#">Tickets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="#">Qr code sortie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="#">Qr code sortie</a>
            </li>
          </ul>
        </div>
      </nav>
    <br>
    <div class="choices">
        <form action="/signInPassenger" class="m-auto"  type="submit">
            <button type="submit" id="menuform" class="m-auto">
                <img src="traveller.png" alt="" width="70" class="m-auto">
                <label for="" class="m-auto fs-5">voyageur</label>
                
            </button>
        </form>
        <form action="/login" class="m-auto" >
            <button type="submit" id="menuform" >
                <img src="taxi-driver.png" alt="" width="70" class="m-auto">
                <label for="" class="m-auto fs-5">chauffeur</label>
            </button>
        </form>
        <form action="/signinstation" class="m-auto">
            <button type="submit" id="menuform" >
                <img src="bus-stop.png" alt="" width="70" class="m-auto">
                <label class="m-auto fs-5" >station</label>     
            </button>
        </form>
    </div>
    <br><br><br><br><br><br>
    <footer>
      <ul class="nav justify-content-center border-bottom border-top pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
      </ul>
      <p class="text-center fs-4 text-light">© 2024 L9itLouage, Inc</p>
  
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>