#adminStation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: auto;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}
.dash{
    display: grid;
    grid-template-columns: 25% auto;
    gap: 20px;

}
#drop{
    visibility: hidden;
}
nav{
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
  }
@media(max-width:650px){
    .Dashboard{
        display: none;
        
    }
    nav{
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    .dash{
        display: flex;
        flex-direction: column;
    }
    #drop{
        visibility: visible;
    }
    
}