#menuform{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    width: 150px;
    height: 150px;
    padding: 20px;
    text-align: center;
    border: none;
}
#menuform:hover{
    box-shadow: 0px 0px 9px 2px white;
    
}
.choices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    margin: auto;
    padding: 20px;
    border: solid 1px rgba(255, 178, 106, 0.466);
    border-radius: 5px;
    backdrop-filter: blur(3px);margin-top: 140px;
}
body{
    background-image: url('/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40;
}
@media screen and (max-width: 650px){
    .choices{
        display: flex ;
        flex-direction: column;
        width: 250px;
        margin-top: 30px;
    }
}